@model Blood_Donation.Models.BloodWanted

@{
    ViewBag.Title = "Create";
}
<head>
<style type="text/css">
    	   	fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

legend {
border: solid 1px black;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
    label {
        float: left; margin-right:5px
    }
    .editor-field {
        margin-bottom: 20px; float:none
    }
</style>

</head>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Blood Request</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contact_No)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact_No)
            @Html.ValidationMessageFor(model => model.Contact_No)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reason)
            @Html.ValidationMessageFor(model => model.Reason)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Blood_Group)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Blood_Group)
            @Html.ValidationMessageFor(model => model.Blood_Group)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.When_needed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.When_needed)
            @Html.ValidationMessageFor(model => model.When_needed)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
